/*disenio de los iconos botones a utilizar */

.bt1{
	-fx-background-image: url("../../Imgns/reportesIcon.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}
.bt2{
	-fx-background-image: url("../../Imgns/stock.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}

.bt3{
	-fx-background-image: url("../../Imgns/graficos.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}
.bt4{
	-fx-background-image: url("../../Imgns/productoF.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}
.bt5{
	-fx-background-image: url("../../Imgns/configuracion.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}






/*Login CSS */
.Hbox{
	-fx-background-color: rgb(192,192,192);
	-fx-background-radius: 15;	
}

.Button{
	-fx-background-color: rgb(33,169,207);
	-fx-background-radius: 15;
}

.HiperLink{
	-fx-background-color: null;
	-fx-text-fill: rgb(33,169,207);
}

.BorderPane{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
}

.Fields{
	-fx-background-color: null;
}


