/*disenio de los iconos botones a utilizar */

.bt1{
	-fx-background-image: url("../../Imgns/reportesIcon.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}
.bt2{
	-fx-background-image: url("../../Imgns/stock.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}

.bt3{
	-fx-background-image: url("../../Imgns/graficos.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}
.bt4{
	-fx-background-image: url("../../Imgns/Mproducto.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}
.bt5{
	-fx-background-image: url("../../Imgns/configuracion.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}
.bt6{
	-fx-background-image: url("../../Imgns/help.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}
.bt7{
	-fx-background-image: url("../../Imgns/search.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}
.bt8{
	-fx-background-image: url("../../Imgns/report.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}
.bt9{
	-fx-background-image: url("../../Imgns/reporteColor.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) ;
	
}
.atras{
	-fx-background-image: url("../../Imgns/anterior.png");
        -fx-background-color: null;
        -fx-background-size: stretch;

	
}
.welcome{
	-fx-background-image: url("../../Imgns/inicio.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
  
	
}



/*Login CSS */
.Hbox{
	-fx-background-color: rgb(238,238,238);
	-fx-background-radius: 15;	
}

.Button{
	-fx-text-fill: rgb(238,238,238);
	-fx-background-color: rgb(0,173,181);
	-fx-background-radius: 15;
	-fx-border-radius: 15;
	-fx-border-color: rgb(0,173,181);
}

.Button:hover{
	-fx-background-color: rgb(238,238,238);
	-fx-border-color: rgb(57,62,70);
	-fx-text-fill: rgb(57,62,70);
	-fx-background-radius: 15;
	-fx-border-radius: 15;
}

.HiperLink{
	-fx-background-color: null;
	-fx-text-fill: rgb(0,173,181);
	-fx-underline: true;
}

.HiperLink:hover{
	-fx-text-fill: rgb(57,62,70);
}

.BorderPane{
	-fx-background-color: white;
	-fx-background-radius: 15;
	-fx-effect: dropshadow(three-pass-box,rgb(57,62,70), 10, 0, 0, 0);
}

.General{
	-fx-font-family: "Cooper Black";
}

.Fields{
	-fx-background-color: null;
	-fx-prompt-text-fill: rgba(57,62,70,0.800000011920929);
	-fx-text-fill: rgb(34,40,49);
}

.MenuButton{
	-fx-text-fill: rgb(238,238,238);
	-fx-background-color: rgb(0,173,181);
	-fx-background-radius: 15;
	-fx-border-radius: 15;
	-fx-border-color: rgb(0,173,181);
	-fx-fill: null;
}

